a{
    color: rgb(255, 132, 0);
    font-size: 20px;
}
/* SELECTOR UNIVERSAL */

/* *{} */

/* ID */
#esid{
    font-size: 40px;
}

/* CLASS */
.libros{
    font-size: 50px;
    color: green;
}

h2{
    color: brown;
}

h2.h2distinto{
    color: black;
}