img {
    float: right;
    width: 150px;
    height: 150px;
    margin-left: 15px;
}

.none {
    display: none;
}

.block {

    padding: 10px;
    background-color: violet;
    display: block;
}

.linea {
    padding: 10px;
    background-color: aqua;
    display: inline;
}

.linea-block {
    width: 150px;
    padding: 10px;
    background-color: rgb(89, 220, 89);
    display: inline-block;
}