.context{
    box-sizing: content-box;
    background-color: aqua;
    width: 100px;
    height: 100px;
    padding: 40px;
    border: 5px solid red;
}

.border{
    box-sizing: border-box;
    background-color: black;
    width: 100px;
    height: 100px;
    padding: 40px;
    border: 5px solid red;
}